<title>Portfolio</title>
<div class ="topNav">
    <div class ="topNav-text">
        Home    Work    Email      
    </div>
</div>
<div class="container">
    <div class ="title-border block">
        <div class ="title-text">
            Westley Howe
        </div>
    </div>
</div>
<div class ="about-border">
    <div class ="about-text">
        About
    </div>
</div>
<div class ="h1-border">
    <h1>
        I am a junior level developer with a passion for development. 
        I am currently enrolled in the University of Regina's Computer Science program.
        Currently I am working as a programmer for a small game studio as a programmer.
    </h1>
</div>
<div class ="known-lang-border">
    <div class ="known-text">
        Languages
    </div>
</div>
<div class ="h1-border">
    <h2>
        {{!-- C++
        <div class ="circular">
            <div class ="inner"></div>
            <div class ="number">60%</div>
            <div class ="circle">
                <div class ="bar left">
                    <div class ="progress"></div>
                </div>
                <div class ="bar right">
                    <div class ="progress"></div>
                </div>
            </div>
        </div> --}}
    </h2>
</div>