<title>Portfolio</title>
<div class ="title-border">
    <div class ="title-text">
        West Howe
    </div>
</div>
<div class ="about-border">
    <div class ="about-text">
        About
    </div>
</div>
<div class ="known-lang-border">
    <div class ="known-text">
        Languages
    </div>
</div>