<title>Portfolio</title>
<div class ="topNav">
    <div class ="topNav-text">
        Home Resume Work Email      
    </div>
</div>
<div class ="title-border">
    <div class ="title-text">
        West Howe
    </div>
</div>
<div class ="about-border">
    <div class ="about-text">
        About
    </div>
</div>
<div class ="h1-border">
    <h1>
        I am a junior level programmer who mainly focuses on front end 
        applications but is slowly moving into back end development.
    </h1>
</div>
<div class ="known-lang-border">
    <div class ="known-text">
        Languages
    </div>
</div>
<div class ="h1-border">
    <h1>

    </h1>
</div>