<title>Portfolio</title>
<div class ="topNav">
    <div class ="topNav-text">
        Home Resume Work Email      
    </div>
</div>
<div class ="title-border">
    <div class ="title-text">
        Name goes here
    </div>
</div>
<div class ="about-border">
    <div class ="about-text">
        About
    </div>
</div>
<div class ="h1-border">
    <h1>
        Description goes here.
    </h1>
</div>
<div class ="known-lang-border">
    <div class ="known-text">
        Languages
    </div>
</div>
<div class ="h1-border">
    <h2>
        
            C++
            <div class ="circular">
                <div class ="inner"></div>
                <div class ="number">60%</div>
                <div class ="circle">
                    <div class ="bar left">
                        <div class ="progress"></div>
                    </div>
                    <div class ="bar right">
                        <div class ="progress"></div>
                    </div>
                </div>
            </div>
        
    </h2>
</div>