<!DOCTYPE html>
<html lang="en-US">
    <div className ="theme">
        <head>
            <div className="title-border">
                <div className ="title">
                    <title>West Howe</title>
                </div>
            </div>
        </head>

        <body>
            <div className ="body-border">
                <div className ="body">
                    
                </div>
            </div>
        </body>
    </div>
</html>