body
{
    background-color: rgb(40, 0, 50);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topNav
{
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -1em;
    padding: 2em;
    text-align: center;
    background-color: rgb(70, 0, 100);
}

.topNav-text
{
    text-align: center;
    color: blue;
    padding: 0.5em;
    font: 2em;
}


.title-border
{   
    display: flex;
    margin: 12.5em 12.5em 12.5em 12.5em;
    align-items: center;    
    align-self: center;
    background-image:url("../img/regina.jpg");
    background-size: contain;
    height: 87.5em;
    width: 87.5em;
}

.title-text
{
    text-align: center;
    color: blue;
    font-size: 4em;
}

.about-border
{
    margin-top: 4em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border-left: solid blueviolet;
    border-right: solid blueviolet;
    background-color:rgb(70, 0, 100);
    border-width: 1em;
}

.about-text
{
    text-align: center;
    color: blue;
    padding: 0.5em;
    font-size: 4em;
}

.known-lang-border
{
    margin-top: 4em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border-left: solid blueviolet;
    border-right: solid blueviolet;
    background-color:rgb(70, 0, 100);
    border-width: 1em;
}

.known-text
{
    text-align: center;
    color: blue;
    padding: 0.5em;
    font-size: 4em;
}

.h1-border
{
    border: solid blueviolet;
    background-color:rgb(70, 0, 100);
    border-width: 0.25em;
    margin-top: 4em;
}

h1
{
    text-align:left;
    font-size: 3em;
    color: blue; 
    padding-left: 1em;
    padding-right: 1em;
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2
{
    text-align: center;
    font-size: 3em;
    color: blue; 
    padding-left: 0.25em;
    padding-right: 0.25em;
    flex-wrap: wrap;
}

.circular
{
    height: 12.5em;
    width: 12.5em;
    position: relative;
    transform: scale(1);
}

.circular .inner
{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 10em;
    width: 10em;
    margin: -5em 0 0 -5em;
    background: rgb(70, 0, 100);
    border-radius: 100%;
}

.circular .number
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size: 3em;
    font-weight: 500;
    color:blue;
}

.circular .bar
{
    position: absolute;
    height: 100%;
    width: 100%;
    background: blueviolet;
    border-radius: 100%;
    clip: rect(0em, 12.5em, 12.5em, 6.25em);
}

.circle .bar .progress
{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0em, 6.25em, 12.5em, 0em);
    background: rgb(180, 0, 255);
}

.circle .left .progress
{
    z-index: 1;
    animation: left 4s linear both;
}

@keyframes left{
    100%{
        transform: rotate(180deg);
    }
}

.circle .right
{
    transform: rotate(180deg);
    z-index:3;
}

.circle .right .progress
{
    animation: right 1s linear both;
    animation-delay: 4s;
}

@keyframes right{
    100%{
        transform: rotate(30deg);
    }
}