body
{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topNav
{
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-top: -0.5em;
    padding: 2em;
    background-color: rgb(40, 40, 40);
}

.topNav-text
{
    text-align: center;
    color:  orange;
    padding: 0.25em;
    font-size: 2em;
}

.container {
    display: block;
    height: 85vh;
    width: 100vw;
}

.title-border
{   
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-image:url("../img/regina.jpg");
    background-size: cover;
    height: 100%;
}

.title-text
{
    color: black;
    font-size: 3em;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.about-border
{
    margin-top: 3em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border-left: solid rgb(40, 40, 40);
    border-right: solid rgb(40, 40, 40);
    background-color:rgb(20, 20, 20);
    border-width: 0.5em;
}

.about-text
{
    text-align: center;
    color: orange;
    padding: 0.5em;
    font-size: 3em;
}

.known-lang-border
{
    margin-top: 3em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border-left: solid rgb(40, 40, 40);
    border-right: solid rgb(40, 40, 40);
    background-color:rgb(20, 20, 20);
    border-width: 0.5em;
}

.known-text
{
    text-align: center;
    color: orange;
    padding: 0.5em;
    font-size: 3em;
}

.h1-border
{
    border: solid rgb(40, 40, 40);
    background-color:rgb(20, 20, 20);
    border-width: 0.25em;
    margin-top: 3em;
}

h1
{
    text-align:left;
    font-size: 2em;
    color: orange; 
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2
{
    text-align: center;
    font-size: 2em;
    color: orange; 
    padding-left: 0.25em;
    padding-right: 0.25em;
    flex-wrap: wrap;
}

.circular
{
    height: 6.25em;
    width: 6.25em;
    position: relative;
    transform: scale(1);
}

.circular .inner
{
    position: absolute;
    z-index: 5;
    top: 92%;
    left: 92%;
    height: 4.75em;
    width: 4.75em;
    margin: -5em 0 0 -5em;
    background: black;
    border-radius: 100%;
}

.circular .number
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size: 2em;
    font-weight: 500;
    color:rgb(180, 80, 0);
}

.circular .bar
{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(255, 100, 0);
    border-radius: 100%;
    clip: rect(0em, 6.25em, 6.25em, 3.125em);
}

.circle .bar .progress
{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0em, 6.25em, 3.125em, 0em);
    background: rgb(255, 160, 0);
}

.circle .left .progress
{
    z-index: 1;
    animation: left 4s linear both;
}

@keyframes left{
    100%{
        transform: rotate(180deg);
    }
}

.circle .right
{
    transform: rotate(180deg);
    z-index:3;
}

.circle .right .progress
{
    animation: right 1s linear both;
    animation-delay: 4s;
}

@keyframes right{
    100%{
        transform: rotate(90deg);
    }
}